<!-- ====== INCLUDE HEAD ====== -->
<%- include('./includes/head.ejs') %>
</head>

<!-- Align footer using flex -->
<body class="d-flex flex-column min-vh-100">

    <!-- ====== INCLUDE NAVIGATION BAR ====== -->
    <%- include('./includes/navigation.ejs') %>
    

    <!-- ====== MAIN CONTENT ======  -->

    <main class="container main__container flex-grow-1 mt-5">
        <h1 class="main__heading"><%= pageTitle %></h1>
        <p>
            Create a Voucher for <%= clients.firstName %> <%= clients.lastName %>
        </p>
        
        </div>
        
    </main>


<%- include('./includes/end.ejs') %>